<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugqa.qa.dao.ClassMasterMapper">
	<resultMap id="BaseResultMap" type="com.bugqa.qa.model.po.ClassMaster">
		<id column="CUSTOMERCODE" jdbcType="VARCHAR" property="customerCode" />
		<id column="DEPARTMENTID" jdbcType="VARCHAR" property="departmentId" />
		<id column="CLASSID" jdbcType="VARCHAR" property="classId" />
		<result column="CLASSNAME" jdbcType="VARCHAR" property="className" />
		<result column="DELETEFLG" jdbcType="CHAR" property="deleteFlg" />
		<result column="UPDATERID" jdbcType="VARCHAR" property="updaterId" />
		<result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		CUSTOMERCODE, DEPARTMENTID, CLASSID, CLASSNAME, DELETEFLG,
		UPDATERID, UPDATETIME
	</sql>

	<!-- 部门变换 取得当前部门的所有课信息 -->
	<select id="classMsg" resultMap="BaseResultMap">
		select
		CLASSID,CLASSNAME
		from
		tbl_ClassMaster
		where
		DELETEFLG = '0'
		and CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR}
		and DEPARTMENTID =
		#{departmentId,jdbcType=VARCHAR}
		ORDER BY CLASSID
	</select>

	<!-- CST0050取得当前部门的课信息 -->
	<select id="getClassInfoByPage" parameterType="String" resultMap="BaseResultMap">
		select
		CLASSID,CLASSNAME
		from
		tbl_ClassMaster
		where
		DELETEFLG = '0'
		and CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR}
		and DEPARTMENTID =
		#{departmentId,jdbcType=VARCHAR}
		ORDER BY CLASSID
	</select>

	<!-- CST0050保存当前部门的课信息 -->
	<update id="saveClass" parameterType="ClassMaster">
		update
		tbl_classmaster set
		CUSTOMERCODE=#{customerCode,jdbcType=VARCHAR},
		DEPARTMENTID=#{departmentId,jdbcType=VARCHAR},
		CLASSID
		=#{classId,jdbcType=CHAR},
		CLASSNAME =#{className,jdbcType=CHAR},
		DELETEFLG = "0",
		UPDATERID= #{updaterId,jdbcType=VARCHAR},
		UPDATETIME =
		NOW()
		WHERE
		CUSTOMERCODE = #{customerCode,jdbcType=VARCHAR}
		AND
		DEPARTMENTID = #{departmentId,jdbcType=VARCHAR}
	</update>

	<!-- CST0050课室Id存在性check -->
	<select id="classIdCheck" parameterType="String" resultType="int">
		select
		count(1)
		from tbl_classmaster
		where CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR}
		AND
		DEPARTMENTID =
		#{departmentId,jdbcType=VARCHAR}
		AND CLASSID =
		#{classId,jdbcType=VARCHAR}
	</select>

	<!-- CST0050追加课室 -->
	<insert id="addClass" parameterType="ClassMaster">
		INSERT INTO tbl_classmaster
		(
		CUSTOMERCODE,
		DEPARTMENTID,
		CLASSID,
		CLASSNAME,
		DELETEFLG,
		UPDATERID,
		UPDATETIME
		)
		VALUES(
		#{customerCode,jdbcType=VARCHAR},
		#{departmentId,jdbcType=VARCHAR},
		#{classId,jdbcType=VARCHAR},
		#{className,jdbcType=VARCHAR},
		"0",
		#{updaterId,jdbcType=VARCHAR},
		NOW()
		)
	</insert>

	<!-- CST0050删除课室信息列表 -->
	<update id="deleteClassList" parameterType="String">
		UPDATE 
		tbl_classmaster SET DELETEFLG = "1" WHERE CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR} AND DEPARTMENTID =
		#{departmentId,jdbcType=VARCHAR} AND CLASSID =
		#{classId,jdbcType=VARCHAR}
	</update>


</mapper>