<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugqa.qa.dao.CustomerMasterMapper">
	<resultMap id="BaseResultMap" type="com.bugqa.qa.model.po.CustomerMaster">
		<id column="CUSTOMERCODE" jdbcType="VARCHAR" property="customerCode" />
		<result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customerName" />
		<result column="CUSTOMERNAMESUM" jdbcType="VARCHAR" property="customerNameSum" />
		<result column="COMPANYFLG" jdbcType="CHAR" property="companyFlg" />
		<result column="ZIPCODE" jdbcType="VARCHAR" property="zipCode" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="FAX" jdbcType="VARCHAR" property="fax" />
		<result column="COMMENT" jdbcType="VARCHAR" property="comment" />
		<result column="DELETEFLG" jdbcType="CHAR" property="deleteFlg" />
		<result column="UPDATERID" jdbcType="VARCHAR" property="updaterId" />
		<result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		CUSTOMERCODE, CUSTOMERNAME, CUSTOMERNAMESUM, COMPANYFLG,
		ZIPCODE,
		ADDRESS, PHONE,
		FAX, COMMENT, DELETEFLG, UPDATERID, UPDATETIME
	</sql>
	<!-- CST0010查询所有客户 -->
	<select id="queryCustomerByPage" resultMap="BaseResultMap">
		SELECT
		CUSTOMERCODE,
		CUSTOMERNAME,
		CUSTOMERNAMESUM,
		(CASE WHEN COMPANYFLG = '0' THEN '社内' WHEN COMPANYFLG = '1' THEN '社外' ELSE '' END) COMPANYFLG,
		ZIPCODE,
		PHONE,
		FAX,
		(CASE WHEN DELETEFLG = 0 THEN '' ELSE '已删除' END) DELETEFLG,
		UPDATETIME
		FROM
		tbl_customermaster
		WHERE DELETEFLG = "0"
	</select>

	<!-- CST0010删除客户 -->
	<update id="deleteCustomer">
		update tbl_customermaster
		set DELETEFLG = "1"
		where
		CUSTOMERCODE = #{customerCode,jdbcType=VARCHAR}
	</update>

	<!-- CST0010检索客户 -->
	<select id="serchcustomerByPage" resultMap="BaseResultMap" parameterType="String">
		SELECT
		CUSTOMERCODE,
		CUSTOMERNAME,
		CUSTOMERNAMESUM,
		(CASE WHEN COMPANYFLG = '0' THEN '社内' WHEN COMPANYFLG = '1' THEN '社外' ELSE '' END) COMPANYFLG,
		ZIPCODE,
		PHONE,
		FAX,
		(CASE WHEN DELETEFLG = 0 THEN '' ELSE '已删除' END) DELETEFLG,
		UPDATETIME
		FROM
		tbl_customermaster
		WHERE 
		 <![CDATA[
		 (CUSTOMERCODE LIKE CONCAT('%',#{serchKey,jdbcType=VARCHAR},
		'%')
		or CUSTOMERNAME LIKE CONCAT('%',#{serchKey,jdbcType=VARCHAR},
		'%'))
		]]>
<!-- 		<if test="serchFlg == 2">
			AND DELETEFLG = "0"
		</if> -->
	</select>

	<!--初始化得意先下拉框 取得得意先信息(会社フラグ='0') -->
	<select id="selCustCode" resultMap="BaseResultMap" >
		select
		CUSTOMERCODE,CUSTOMERNAME
		from
		tbl_CustomerMaster
		where
		COMPANYFLG = '0'
		and DELETEFLG = '0'
		ORDER BY
		CUSTOMERCODE

	</select>

	<!--项目新规1.3.3 得意先下拉框 -->
	<select id="getCustomer" resultMap="BaseResultMap">
		select
		CUSTOMERCODE,CUSTOMERNAME
		from
		tbl_CustomerMaster
		where
		COMPANYFLG = '1'
		and DELETEFLG = '0'
		ORDER BY CUSTOMERCODE
	</select>

	<!--会社フラグ变换 取得会社信息 -->

	<select id="customerMsg" resultMap="BaseResultMap">
		select
		CUSTOMERCODE,CUSTOMERNAME
		from
		tbl_CustomerMaster
		where
		DELETEFLG = '0'
		and COMPANYFLG =
		#{companyFlg,jdbcType=CHAR}
		ORDER BY CUSTOMERCODE
	</select>

	<!--客户新规 客户code存在性检查 -->
	<select id="customerCodeCheck" parameterType="String"
		resultType="Integer">
		select
		count(1)
		from tbl_CustomerMaster
		where CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR}
	</select>

	<!--新建客户 -->
	<insert id="newCustomer" parameterType="CustomerMaster">
		insert into
		tbl_CustomerMaster(CUSTOMERCODE,CUSTOMERNAME,CUSTOMERNAMESUM,COMPANYFLG,ZIPCODE,ADDRESS,PHONE,FAX,COMMENT,DELETEFLG,UPDATERID,UPDATETIME)
		values
		(#{customerCode,jdbcType=VARCHAR},#{customerName,jdbcType=VARCHAR},#{customerNameSum,jdbcType=VARCHAR},#{companyFlg,jdbcType=CHAR},
		#{zipCode,jdbcType=CHAR},#{address,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},
		#{comment,jdbcType=VARCHAR},'0',#{updaterId,jdbcType=VARCHAR},NOW());
	</insert>

	<!-- 客户编辑取得信息 -->
	<select id="getCustomerInfo" parameterType="String" resultType="CustomerMaster">
		select
		CUSTOMERCODE,CUSTOMERNAME,CUSTOMERNAMESUM,COMPANYFLG,ZIPCODE,ADDRESS,PHONE,FAX,COMMENT,DELETEFLG,UPDATERID,UPDATETIME
		from
		tbl_CustomerMaster
		where CUSTOMERCODE =
		#{customerCode,jdbcType=VARCHAR}
	</select>

	<!-- 客户编辑确认 -->
	<update id="editCustomer" parameterType="CustomerMaster">
		update
		tbl_customermaster set CUSTOMERNAME
		=#{customerName,jdbcType=VARCHAR},CUSTOMERNAMESUM
		=
		#{customerNameSum,jdbcType=VARCHAR},COMPANYFLG =
		#{companyFlg,jdbcType=CHAR},ZIPCODE = #{zipCode,jdbcType=CHAR},ADDRESS
		= #{address,jdbcType=VARCHAR},PHONE = #{phone,jdbcType=VARCHAR},FAX =
		#{fax,jdbcType=VARCHAR},
		COMMENT =
		#{comment,jdbcType=VARCHAR},DELETEFLG ='0',UPDATETIME = NOW()
		WHERE
		CUSTOMERCODE= #{customerCode,jdbcType=VARCHAR}
	</update>
	
	<select id="getCustomerNameSum" parameterType="String" resultType="String" >
		SELECT
			customernamesum
		FROM
			tbl_customermaster
		WHERE
			customercode = #{customerCode,jdbcType=VARCHAR};
	</select>

</mapper>