<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugqa.qa.dao.QAHistoryMapper">
	<resultMap id="BaseResultMap" type="com.bugqa.qa.model.po.QAHistory">
		<id column="PROJECTID" jdbcType="VARCHAR" property="projectId" />
		<id column="QANO" jdbcType="VARCHAR" property="qaNo" />
		<id column="SERIALNUM" jdbcType="VARCHAR" property="serialNum" />
		<result column="GROUPID" jdbcType="VARCHAR" property="groupId" />
		<result column="MODULEID" jdbcType="VARCHAR" property="moduleId" />
		<result column="COMPANYFLG" jdbcType="CHAR" property="companyFlg" />
		<result column="QAQSTATE" jdbcType="CHAR" property="qaQState" />
		<result column="QAASTATE" jdbcType="CHAR" property="qaAState" />
		<result column="STAGE" jdbcType="CHAR" property="stage" />
		<result column="QUESTIONER" jdbcType="VARCHAR" property="questioner" />
		<result column="QUESTIONDATE" jdbcType="TIMESTAMP" property="questionDate" />
		<result column="EXPDATE" jdbcType="TIMESTAMP" property="expDate" />
		<result column="ANSWERER" jdbcType="VARCHAR" property="answerer" />
		<result column="ANSWERDATE" jdbcType="TIMESTAMP" property="answerDate" />
		<result column="QATitle" jdbcType="VARCHAR" property="qaTitle" />
		<result column="QATitle_CN" jdbcType="VARCHAR" property="qaTitleCn" />
		<result column="QUESTIONINFO" jdbcType="VARCHAR" property="questionInfo" />
		<result column="QUESTIONINFO_CN" jdbcType="VARCHAR" property="questionInfoCn" />
		<result column="QATTACHEDINFO" jdbcType="VARCHAR" property="qattachedInfo" />
		<result column="ANSWERINFO" jdbcType="VARCHAR" property="answerInfo" />
		<result column="ANSWERINFO_CN" jdbcType="VARCHAR" property="answerInfoCn" />
		<result column="AATTACHEDINFO" jdbcType="VARCHAR" property="aattachedInfo" />
		<result column="CAUSEDIV" jdbcType="CHAR" property="causeDiv" />
		<result column="QUESTIONDIV" jdbcType="CHAR" property="questionDiv" />
		<result column="RELATIONQANO" jdbcType="VARCHAR" property="relationQaNo" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="REMARK_CN" jdbcType="VARCHAR" property="remarkCn" />
		<result column="UPDATERID" jdbcType="VARCHAR" property="updaterId" />
		<result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime" />

	</resultMap>
	<sql id="Base_Column_List">
		PROJECTID, QANO, SERIALNUM, GROUPID, MODULEID, COMPANYFLG,
		QAQSTATE, QAASTATE,
		STAGE,
		QUESTIONER, QUESTIONDATE, EXPDATE, ANSWERER,
		ANSWERDATE, QATitle, QATitle_CN,
		QUESTIONINFO,
		QUESTIONINFO_CN,
		QATTACHEDINFO,
		ANSWERINFO, ANSWERINFO_CN, AATTACHEDINFO,
		CAUSEDIV,
		QUESTIONDIV,
		RELATIONQANO, REMARK, REMARK_CN, UPDATERID,
		UPDATETIME
	</sql>

	<select id="getHistorySerialNO" parameterType="java.util.Map"
		resultType="String">
	<![CDATA[
		SELECT
			MAX(SERIALNUM)
		FROM
			tbl_QAHistory
		WHERE
			PROJECTID = #{projectId,jdbcType=VARCHAR}
		AND QANO = #{QANo,jdbcType=VARCHAR}
	]]>
	</select>

	<insert id="addQAHistory" parameterType="QA0010ArgValue">
		insert into tbl_qahistory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				PROJECTID,
			</if>
			<if test="qaNo != null">
				QANO,
			</if>

			SERIALNUM,

			<if test="groupId != null">
				GROUPID,
			</if>
			<if test="moduleId != null">
				MODULEID,
			</if>
			<if test="companyFlg != null">
				COMPANYFLG,
			</if>

			QAQSTATE,

			<if test="stage != null">
				STAGE,
			</if>
			<if test="questioner != null">
				QUESTIONER,
			</if>
			<if test="questionDate != null">
				QUESTIONDATE,
			</if>
			<if test="expDate != null">
				EXPDATE,
			</if>
			<if test="answerer != null">
				ANSWERER,
			</if>
			<if test="qaTitle != null">
				QATitle,
			</if>
			<if test="questionInfo != null">
				QUESTIONINFO,
			</if>
			<if test="qattachedInfo != null">
				QATTACHEDINFO,
			</if>
			<if test="questionDiv != null">
				QUESTIONDIV,
			</if>
			<if test="relationQaNo != null">
				RELATIONQANO,
			</if>
			
				UPDATERID,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="qaNo != null">
				#{qaNo,jdbcType=VARCHAR},
			</if>

			'00001',

			<if test="groupId != null">
				#{groupId,jdbcType=VARCHAR},
			</if>
			<if test="moduleId != null">
				#{moduleId,jdbcType=VARCHAR},
			</if>
			<if test="companyFlg != null">
				#{companyFlg,jdbcType=VARCHAR},
			</if>

			'1',

			<if test="stage != null">
				#{stage,jdbcType=VARCHAR},
			</if>
			<if test="questioner != null">
				#{questioner,jdbcType=VARCHAR},
			</if>
			<if test="questionDate != null">
				#{questionDate,jdbcType=VARCHAR},
			</if>
			<if test="expDate != null">
				#{expDate,jdbcType=VARCHAR},
			</if>
			<if test="answerer != null">
				#{answerer,jdbcType=VARCHAR},
			</if>
			<if test="qaTitle != null">
				#{qaTitle,jdbcType=VARCHAR},
			</if>
			<if test="questionInfo != null">
				#{questionInfo,jdbcType=VARCHAR},
			</if>
			<if test="qattachedInfo != null">
				#{qattachedInfo,jdbcType=VARCHAR},
			</if>
			<if test="questionDiv != null">
				#{questionDiv,jdbcType=VARCHAR},
			</if>
			<if test="relationQaNo != null">
				#{relationQaNo,jdbcType=VARCHAR},
			</if>
			<if test="user.userId != null">
				#{user.userId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<insert id="insertQAHistory" parameterType="java.util.Map">
	<![CDATA[
		INSERT INTO tbl_QAHistory SELECT
			PROJECTID,
			QANO,
			#{serialNum,jdbcType=VARCHAR},
			GROUPID,
			MODULEID,
			COMPANYFLG,
			QAQSTATE,
			QAASTATE,
			STAGE,
			QUESTIONER,
			QUESTIONDATE,
			EXPDATE,
			ANSWERER,
			ANSWERDATE,
			QATitle,
			QATitle_CN,
			QUESTIONINFO,
			QUESTIONINFO_CN,
			QATTACHEDINFO,
			ANSWERINFO,
			ANSWERINFO_CN,
			AATTACHEDINFO,
			CAUSEDIV,
			QUESTIONDIV,
			RELATIONQANO,
			REMARK,
			REMARK_CN,
			UPDATERID,
			UPDATETIME
		FROM
			tbl_QA A
		WHERE
			A.PROJECTID = #{projectId,jdbcType=VARCHAR}
		AND A.QANO = #{qaNo,jdbcType=VARCHAR}
	]]>
	</insert>

	<select id="getQAHistoryByPage" parameterType="QA0030ArgValue"
		resultType="QAHistoryDTO">
	<![CDATA[
		SELECT
			A.SERIALNUM,
			A.QANO,
			DATE_FORMAT(A.QUESTIONDATE, '%Y/%m/%d') AS QUESTIONDATE,
			DATE_FORMAT(A.EXPDATE, '%Y/%m/%d') AS EXPDATE,
			DATE_FORMAT(A.ANSWERDATE, '%Y/%m/%d') AS ANSWERDATE,
			DATE_FORMAT(A.UPDATETIME, '%Y/%m/%d') AS UPDATETIME,
			B.PROJECTNAME,
			C.GROUPNAME,
			D.MODULENAME,
			E. NAME QAASTATE,
			F.USERNAME QUESTIONER,
			G.USERNAME ANSWERER,
			H.USERNAME UPDATERNAME,
			I. NAME QAQSTATE
		FROM
			(
				SELECT
					SERIALNUM,
					QANO,
					QUESTIONDATE,
					EXPDATE,
					ANSWERDATE,
					UPDATETIME,
					PROJECTID,
					GROUPID,
					MODULEID,
					QAASTATE,
					QAQSTATE,
					QUESTIONER,
					ANSWERER,
					UPDATERID
				FROM
					tbl_QAHistory
				WHERE
					PROJECTID = #{projectId,jdbcType=VARCHAR}
				AND QANO = #{qaNo,jdbcType=VARCHAR}
			) A
		LEFT JOIN tbl_ProjectMaster B ON A.PROJECTID = B.PROJECTID
		LEFT JOIN tbl_GroupMaster C ON A.PROJECTID = C.PROJECTID
		AND A.GROUPID = C.GROUPID
		LEFT JOIN tbl_ModuleMaster D ON A.PROJECTID = D.PROJECTID
		AND A.GROUPID = D.GROUPID
		AND A.MODULEID = D.MODULEID
		LEFT JOIN tbl_GeneralMaster E ON A.QAASTATE = E. CODE
		AND E.KBN = '07'
		LEFT JOIN tbl_UserMaster F ON A.QUESTIONER = F.USERID
		LEFT JOIN tbl_UserMaster G ON A.ANSWERER = G.USERID
		LEFT JOIN tbl_UserMaster H ON A.UPDATERID = H.USERID
		LEFT JOIN tbl_GeneralMaster I ON A.QAQSTATE = I. CODE
		AND I.KBN = '06'
		ORDER BY
			A.SERIALNUM DESC
	]]>
	</select>

</mapper>